<div class="list-item">
    <div class="list-blog-header">
        <span class="list-blog-date">
            <span>{{ page.header.event.time|date("d") }}</span>
            <em>{{ page.header.event.time|date("M") }}</em>
            <em>{{ page.header.event.time|date("Y") }}</em>
        </span>
        <h4>{{ page.title }}</h4>

        <div class="date">Date: {{ page.header.event.time|date("g:ia - l, F jS, Y") }}</div>
        {% if page.header.event.venue_name %}
            <div class="venue">Venue:
                {% if page.header.event.url %}
                    <a href="{{ page.header.event.url }}">{{ page.header.event.venue_name }}</a>
                {% else %}
                    {{ page.header.event.venue_name }}
                {% endif %}
                <br>
                {{ page.header.event.venue_address|nl2br }}
            </div>
        {% endif %}

        {% if big_header %}
            {{ page.media.images|first.cropResize(900,600).html }}
        {% else %}
            {{ page.media.images|first.cropResize(900,300).html }}
        {% endif %}

    </div>

    <div class="list-blog-padding">
        <p>{{ page.content }}</p>
    </div>
</div>
